html {
    font-size: 18px;
}


.hidden {
    display: none;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.error-field {
    background: #ff6666;
}

.correct-field {
    background: #66ff68;
}

.perfect {
    background: #32CD32;
}

.notbad {
    background: #FFD700;
}

.critical {
    background: #DC143C;
}


