{% extends 'base.html' %}

{% block content %}
<h1>Tworzenie nowego wyrażenia</h1>
<form action="/create_expression" method="post">

    {% csrf_token %}
    {{ form.as_p}}
    <label>Wyrażenie w języku A: </label>
    <input type="text" name="content">
    <label>Audio: </label>
    <input type="text" name="surname">
    <button type="submit">Dodaj</button>

    <input type="button" id="recording" value="Start recording...">
    <input type="button" id="play" class="hidden" value="Play recording...">
    <a id=audioDownload target="_blank"></a>
<!--    <input type="button" id=audioDownload class="hidden" value="Download recording...">-->


		<p class="hidden">
			<audio id=recordedAudio></audio>
		</p>






</form>

{% endblock %}