{% extends 'base.html' %}

{% block content %}
<form action="/create_expression" method="post" enctype="multipart/form-data">
<h1>Tworzenie nowego wyrażenia</h1>
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    <label>Wyrażenie w języku A: </label>
    {{ form.reference}}
    <br><br>
    <label>Wyrażenie w języku B: </label>
    {{ form.translation}}
    <br><br>
    <label>Dodaj obrazek dla skojarzeń</label>
    {{ form.image}}
    <br><br>
    <label>Nagraj audio: </label>
    <input type="button" id="recording" value="Start recording...">
    <input type="button" id="play" class="hidden" value="Play recording...">
    <a href="#" id="audioDownload" class="hidden">Download</a>
    <br><br>
    <label>Dodaj nagrany dźwięk</label>
    {{ form.sound }}

<!--    <input type="button" id="audioDownload" class="hidden">-->

    <br><br>

    <button type="submit">Dodaj</button>
</form>


{% endblock %}