{% extends 'base.html' %}

{% block content %}


<a class="btn btn-success float-right" data-toggle="collapse" href="#multiCollapseExample1" role="button"
   aria-expanded="false"
   aria-controls="multiCollapseExample1">Tworzenie nowego wyrażenia</a>

<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                <form action="/create_expression" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="utteranceA">Wyrażenie w języku A:</label>
                        <input type="text" name="reference" class="form-control" id="utteranceA"
                               placeholder="Wprowadź słowo"/>
                        <small id="utteranceAhelp" class="form-text text-muted">Wyrażenie w języku, którego się
                            uczysz.</small>
                    </div>

                    <div class="form-group">
                        <label for="utteranceB">Wyrażenie w języku B:</label>
                        <input type="text" name="translation" class="form-control" id="utteranceB"
                               placeholder="Wprowadź słowo"/>
                        <small id="utteranceBhelp" class="form-text text-muted">Tłumaczenie wyrażenia.</small>
                    </div>

                    <label>Dodaj obrazek dla skojarzeń</label>
                    <br>


                    <!--                    {{ form.image }}-->
                    <div class="container-fluid">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input addFile" id="pictureFile">
                            <label class="custom-file-label" for="pictureFile">Wybierz plik</label>
                        </div>
                    </div>


                    <br>
                    <label>Nagraj audio: </label>
                    <input type="button" id="recording" class="btn btn-outline-success" value="Start recording...">
                    <input type="button" id="play" class="hidden btn btn-outline-success" value="Play recording...">
                    <a href="#" id="audioDownload" class="hidden btn btn-outline-success">Download</a>
                    <br><br>
                    <label>Dodaj nagrany dźwięk</label>
                    <!--                    {{ form.sound }}-->
                    <div class="container-fluid">
                        <div class="custom-file">
                            <input type="file" name="sound" class="custom-file-input addFile" id="soundFile">
                            <label class="custom-file-label" for="soundFile">Wybierz plik</label>
                        </div>
                    </div>
                    <br>

                    <button type="submit" class="btn btn-outline-success">Dodaj</button>
                </form>
            </div>
        </div>
    </div>
</div>


<br><br>
<h3 class="text-muted">Lista wszystkich dodanych przez Ciebie wyrażeń</h3>
<br>
<form action="">
    <div class="input-group mb-3">

        <input type="text" name="expression" id="input-show-expression" class="form-control"
               placeholder="Szukane wyrażenie" aria-label="Szukane wyrażenie"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input id="btn-show-expression " class="input-button btn btn-outline-success" type="submit" value="Szukaj">
        </div>

    </div>
</form>

<br><br>

<table class="table table-striped">
    <th>№</th>
    <th>
        Wyrażenie w języku A
        <br>
        <a href="?order_by=reference" id="alph-langA">а-я</a>
    </th>
    <th>Wyrażenie w języku B
        <br>
        <a href="?order_by=translation" id="alph-langB">a-z</a>
    </th>
    <th>Obrazek</th>
    <th>Audio</th>
    <th>-</th>
    {% for expression in expressions_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ expression.reference }}</td>
        <td>{{ expression.translation }}</td>
        <td>
            <img src="/media/{{ expression.image }}" alt="{{ expression.image }}" height="150" id="hint">
        </td>
        <td>
            <audio controls>
                <source src="/media/{{ expression.sound }}" type="audio/mpeg">
            </audio>
        </td>
        <td>
            <a href='/edit_expression/{{ expression.id }}' data-id="{{ expression.id }}"
               class="btn-edit btn btn-outline-success">Edytuj</a>
            <br><br>
            <a href="/delete_expression/{{ expression.id }}" data-id="{{ expression.id }}"
               class="btn-delete btn btn-outline-success">Usuń</a>
        </td>
    </tr>
    {% endfor %}
</table>


<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination">-->
<!--      {% if expressions_list.has_previous %}-->
<!--      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>-->
<!--      <li class="page-item"><a class="page-link" href="?page={{ expressions_list.previous_page_number }}">Poprzednia</a></li>-->
<!--      {% endif %}-->

<!--&lt;!&ndash;    <li class="page-item"><a class="page-link" href="?page={{ expressions_list.previous_page_number }}">{{ expressions_list.previous_page_number }}</a></li>&ndash;&gt;-->

<!--      {% if expressions_list.has_next %}-->
<!--    <li class="page-item"><a class="page-link" href="?page={{ expressions_list.next_page_number }}">Następna</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="?page={{ expressions_list.paginator.num_pages }}">Ostatnia</a></li>-->
<!--      {% endif %}-->
<!--  </ul>-->
<!--</nav>-->


<div class="pagination">
    <span class="step-links">
        {% if expressions_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ expressions_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ expressions_list.number }} of {{ expressions_list.paginator.num_pages }}.
        </span>

        {% if expressions_list.has_next %}
            <a href="?page={{ expressions_list.next_page_number }}">next</a>
            <a href="?page={{ expressions_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}