{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<ul id="menu_list">
    <li><a href="/">Strona główna</a></li>
    <li><a href="/learn">Nauka</a></li>
    <li><a href="/training">Trenuj</a></li>
    <li><a href="/stats">Statystki</a></li>
    <li><a href="/create_expression">Dodaj nowe słowo</a></li>
    <li><a href="/messages">Wiadomości</a></li>
    <li><a href="/logout">Wyloguj</a></li>
</ul>
<br><br><br><br>
{% block content %}
{% endblock %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>

