{% extends 'base.html' %}

{% block title %} Strona główna {% endblock %}

{% block content %}

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet, architecto blanditiis deserunt dolor
    dolorem doloribus eaque eius eveniet ex facilis ipsum neque nisi obcaecati placeat ratione reiciendis tempore ullam.
</div>
<div>Autem eveniet id non possimus sint. A, beatae dignissimos dolores ducimus ea eligendi error eum fugit hic
    laboriosam modi natus nulla odit possimus quis repellendus rerum sed similique soluta voluptas!
</div>
<div>Accusamus adipisci aperiam atque aut dolore ea enim eos esse eveniet fugiat id illo incidunt iste labore libero
    maxime natus nihil optio quae quaerat quod rem, totam vero vitae voluptatum.
</div>
<div>Asperiores aspernatur deleniti deserunt distinctio dolores ea earum, eligendi esse est et fugiat in incidunt ipsam
    laudantium minus molestias, necessitatibus nobis quis quisquam ratione reiciendis suscipit totam. Debitis
    praesentium, voluptatum.
</div>




<!--<footer>-->
<!--    {% if username %}-->
<!--        {{ username }}-->
<!--    <a href="/logout">Wyloguj</a>-->
<!--    {% else %}-->
<!--    <a href="/login">Zaloguj</a>-->
<!--    {% endif %}-->
<!--</footer>-->
{% endblock %}


