{% extends 'base.html' %}

{% block title %} Strona główna {% endblock %}

{% block content %}
<h3 class="text-muted">Ostatnio dodane słowa</h3>
<table class="table">
    <tr>
        <th>Słowo w języku A</th>
        <th>Słowo w języku B</th>
        <th>Obrazek</th>
        <th>Audio</th>
        <th>User</th>
    </tr>
    {% for expression in expressions %}
        <tr>
        <td>{{ expression.reference }}</td>
        <td>{{ expression.translation }}</td>
        <td>
            <img src="media/{{ expression.image }}" alt="{{ expression.image }}" height="60">

        </td>
        <td>
            <audio controls>
            <source src="media/{{ expression.sound }}" type="audio/mpeg">
            </audio>
        </td>
        <td>{{ expression.user }}</td>


    </tr>
    {% endfor %}

</table>


<!--<footer>-->
<!--    {% if username %}-->
<!--        {{ username }}-->
<!--    <a href="/logout">Wyloguj</a>-->
<!--    {% else %}-->
<!--    <a href="/login">Zaloguj</a>-->
<!--    {% endif %}-->
<!--</footer>-->
{% endblock %}


