{% extends 'base.html' %}

{% block content %}
<h1>Statystyki</h1>

<table>
    <th>Średni wynik dla wyrażenia</th>
    <th>Wyrażenie</th>
    {% for expression in expressions_list %}
    <tr>
        {% for key, value in expression.items %}
        {% if key == 'percentage' %}
        <td>
            {{ value }}
        </td>
        {% elif key == 'expression' %}
        <td>
            {{ value.reference }}
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
