{% extends 'base.html' %}

{% block content %}
<h1>Statystyki</h1>

<table>
    <th>Wyrażenie</th>
    <th>Średni wynik dla wyrażenia</th>
    <th>Ilość poprawnych odpowiedzi</th>
    <th>Ilość wszystkich odpowiedzi</th>

    {% for expression in expressions_list %}

       <tr class="{{ expression.status_color }}">
        {% for key, value in expression.items %}
        {% if key == 'expression' %}
        <td>
            {{ value.reference }}
        </td>
        {% elif key == 'percentage' %}
        <td>
            {{ value }}
        </td>
        {% elif key == 'correct_answers' %}
        <td>
            {{ value }}
        </td>
                {% elif key == 'all_answers' %}
        <td>
            {{ value }}
        </td>

        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
