{% extends 'base.html' %}

{% block content %}
<!--<div class="col-md-4 col-lg-10">-->

<h3 class="text-muted">Podaj znaczenie słowa/wyrażenia</h3>


<div class="card" style="padding: 10px;">
    <div class="card-block">

        {% csrf_token %}

        <div id="next-expression-train-div">{% include 'next_expression_train.html' %}</div>

        <button type="submit" id="submit_answer" class="input-button btn btn-outline-success">Sprawdź</button>

        <button type="submit" id="btn_next_train" class="correct_show btn btn-outline-success float-right">
            Następne
        </button>

    </div>
</div>

<!--</div>-->
{% endblock %}